<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interest.name %>
</p>

<p>
  <b>Activists:</b>
  <% if @interest.activists.empty? %>
    <i>None</i>
  <% else %>
    <ul>
      <% @interest.activists.each do |activist| %>
        <li> <%= link_to "#{activist.first_name} #{activist.last_name}",
          activist %> </li>
      <% end %>
    </ul>
  <% end %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
