<%= form_for @activist do |f| %>
  <% if @activist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activist.errors.count, "error") %> prohibited this activist from being saved:</h2>

      <ul>
      <% @activist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <p>
    <%= f.label :interests %>
    <div id="interests">
      <% if @interests.empty? %>
        <i>No interests to choose from</i>
      <% else %>
        <%= render :partial => 'interest', :collection => @interests %>
      <% end %>
    </div>
  </p>
  <p>
    <% interest_form = escape_javascript(
        render(:partial => 'new_interest', :object => @activist.interests.build,
        :locals => { :activist_form => f }
              )) %>
    <%= link_to_function 'New Interest',
      "$('#interests').append('#{interest_form}')" %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
