<h1>Listing activists</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activists.each do |activist| %>
  <tr>
    <td><%= activist.first_name %></td>
    <td><%= activist.last_name %></td>
    <td><%= activist.age %></td>
    <td><%= activist.phone %></td>
    <td><%= activist.email %></td>
    <td><%= link_to 'Show', activist %></td>
    <td><%= link_to 'Edit', edit_activist_path(activist) %></td>
    <td><%= link_to 'Destroy', activist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activist', new_activist_path %>
