<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @activist.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @activist.last_name %>
</p>

<p>
  <b>Age:</b>
  <%= @activist.age %>
</p>

<p>
  <b>Phone:</b>
  <%= @activist.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @activist.email %>
</p>

<p>
  <b>Interests:</b>
  <% if @activist.interests.empty? %>
    <i>None</i>
  <% else %>
    <ul>
      <% @activist.interests.each do |interest| %>
        <li> <%= link_to interest.name, interest %> </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_activist_path(@activist) %> |
<%= link_to 'Back', activists_path %>
